<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>About Page</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Devin Bonney. It uses data from mapbox.com and darksky.net!</p>
            <img class="portrait" src="/images/pyra.jpg"></img>
        </div>
        {{>footer}}
    </body>
</html>